# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage/Testing
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Build and Output
dist/
build/
out/
.next/
.nuxt/
.output/
.svelte-kit/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vuepress/dist/
.temp/
**/.vitepress/dist/
**/.vitepress/cache/
_static/
.swc/
build.tar.gz

# TypeScript
*.tsbuildinfo

# Caches
.npm/
.eslintcache
.stylelintcache
.node_repl_history
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Environment files
.env
.env.*
!.env.example
!.env.*.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test

# Package Managers
# yarn
.yarn-integrity
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.js
.pnp.loader.mjs
.yarn/unplugged
.yarn/install-state.gz
.yarn/cache
.yarn/build-state.yml

# pnpm
.pnpm-store/

# Misc
.DS_Store
*.tgz
.lock-wscript
.tern-port
.npmrc
.vscode-test/
.vscode/
!.vscode/mcp.json
!.vscode/settings.json
.unimportedrc.json
.vercel/
.netlify/
.claude/
.github/

# Frameworks
# Wasp
.wasp/

# Gatsby
.cache/
# public

# Tools
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
/node_modules/@prisma/mongo-client
temp/
test_temp_files/
yarn.lock
